name: kalman-statarb
channels:
  - defaults
  - conda-forge
dependencies:
  - python=3.10
  - numpy
  - pandas
  - scipy
  - matplotlib
  - seaborn
  - statsmodels
  - yfinance
  - pip
  - pip:
    - pykalman
    - backtrader
    - jupyterlab
